@import "tailwindcss";
*{
  /* border: solid 1px red; */
  font-family: poppins ;
  /* font-size: 18px; */
}

.input{
  background-image: url(./assets/images/bg-shorten-mobile.svg);
  background-position: 110% -400%;
  background-repeat: no-repeat;
  /* background-size: 100%; */
  z-index: 2;
}

.input{
  background-image: url(./assets/images/bg-shorten-mobile.svg);
  background-position: 110% -400%;
  background-repeat: no-repeat;
  /* background-size: 100%; */
  z-index: 2;
}

.boost-section{
  background-image: url(../src/assets/images/bg-boost-mobile.svg);
  background-repeat: no-repeat;
  background-position: 100% 45%;
  background-size: 110%;
}

.input-error::placeholder {
  color: red;
  outline: none;
  border: 5px;
  border-color: red;
  opacity: 1;
}

.input-error {
  outline: none;
  border: 2px solid red;
}

@media(min-width: 700px){
  .boost-section{
  background-image: url(../src/assets/images/bg-boost-desktop.svg);
  background-repeat: no-repeat;
  background-position: 50% 35%;
  background-size: cover;
  }

  .input{
  background-image: url(./assets/images/bg-shorten-desktop.svg);
  background-position: 100% 10%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}
}

